PGPOOL_BACKEND_NODES=
PGPOOL_POSTGRES_USERNAME=
PGPOOL_POSTGRES_PASSWORD=
PGPOOL_ADMIN_USERNAME=
PGPOOL_ADMIN_PASSWORD=
PGPOOL_ENABLE_LOAD_BALANCING=yes
PGPOOL_ENABLE_STATEMENT_LOAD_BALANCING=yes
PGPOOL_NUM_INIT_CHILDREN=10
PGPOOL_MAX_POOL=1
PGPOOL_SR_CHECK_USER=
PGPOOL_SR_CHECK_PASSWORD=
PGPOOL_ENABLE_LOG_PER_NODE_STATEMENT=yes
